<div class="ad">
    <div class="container">
        <div class="ad-container lg3 md10">
            <div class="ad-image"><img src="../img/roompic.png"></div>
            <div class="ad-header-box"><div class="ad-title-box"><p class="ad-title ">Населенный пункт</p>
                <p class="ad-title-description ">Площадь дома: 125м2</p>
                <p class="ad-title-price ">7 000 000 руб</p></div>
            <p class="ad-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p></div>
            <button class="ad-button">Подробнее</button>
        </div>
        <div class="ad-container lg3 md10">
            <div class="ad-image"><img src="../img/roompic.png"></div>
            <div class="ad-header-box"><div class="ad-title-box"><p class="ad-title ">Населенный пункт</p>
                <p class="ad-title-description ">Площадь дома: 125м2</p>
                <p class="ad-title-price ">7 000 000 руб</p></div>
                <p class="ad-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p></div>
            <button class="ad-button">Подробнее</button>
        </div>
        <div class="ad-container lg3 md10">
            <div class="ad-image"><img src="../img/roompic.png"></div>
            <div class="ad-header-box"><div class="ad-title-box"><p class="ad-title ">Населенный пункт</p>
                <p class="ad-title-description ">Площадь дома: 125м2</p>
                <p class="ad-title-price ">7 000 000 руб</p></div>
                <p class="ad-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p></div>
            <button class="ad-button">Подробнее</button>
        </div>
        <div class="ad-container lg3 md10">
            <div class="ad-image"><img src="../img/roompic.png"></div>
            <div class="ad-header-box"><div class="ad-title-box"><p class="ad-title ">Населенный пункт</p>
                <p class="ad-title-description ">Площадь дома: 125м2</p>
                <p class="ad-title-price ">7 000 000 руб</p></div>
                <p class="ad-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed nisi dicta. Tempore cupiditate, dolorem nostrum eos illo rerum. Illum modi facere, aliquam </p></div>
            <button class="ad-button">Подробнее</button>
        </div>
        <div class="ad-watchall-container lg12">
            <div class="ad-watchall">
                <a href="#"><div class="ad-watchall-text">Смотреть все</div>
                <div class="ad-watchall-icon"></div></a>
            </div>
        </div>
    </div>
</div>