<div class="servises">
    <div class="container">
        <div class="servises-menu-title">Услуги</div>
        <div class="servises-menu">
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servcase.png"></div>
                <div class="servises-menu-item-text">Юридическое сопровождение сделки купли-продажи</div>
            </div>
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servhouse.png"></div>
                <div class="servises-menu-item-text">Помощь в получении ипотеки с/без первоначального взноса</div>
            </div>
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servmoney.png"></div>
                <div class="servises-menu-item-text">Возможность использовать материнский капитал</div>
            </div>
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servpeople.png"></div>
                <div class="servises-menu-item-text">Гарантированное прохождение опеки</div>
            </div>
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servkeys.png"></div>
                <div class="servises-menu-item-text">Помощь в продаже недвижимости</div>
            </div>
            <div class="servises-menu-item lg4 md6 sm8">
                <div class="servises-menu-item-icon"><img src="../img/servhands.png"></div>
                <div class="servises-menu-item-text">Рассмотрение вариантов взаиморасчета</div>
            </div>
        </div>
    </div>
</div>