<div class="catalog">
    <div class="container">
        <div class="catalog-header-box lg12">
            <div class="catalog-header-box-title">Каталог</div>
            <div class="catalog-header-box-menu lg12">
                <button class="catalog-header-box-menu-items active">Частный сектор</button>
                <button class="catalog-header-box-menu-items">Квартиры</button>
                <button class="catalog-header-box-menu-items">Офисы</button>
            </div>
        </div>
        <div class="catalog-content-box lg12">
            <div class="catalog-content-box-colon1 catalog-content-box-colon lg6 md10 sm12">
                <div class="input-title">Направление</div>
                <form><input type="text" class="input-select" placeholder="Все направления">
                    </select></form>
                <div class="input-title">Населенный пункт</div>
                <form><input type="text" class="input-select margin-bottom" placeholder="Все">
                    </select></form>
                <div class="range">
                    <div class="range-item">
                        <div class="range-item-title">СТОИМОСТЬ, МЛН РУБ</div>
                        <div class="range-item-input">
                            <input type="text" id="range" value="" name="range"/>
                        </div>
                    </div>
                    <div class="range-item">
                        <div class="range-item-title">ПЛОЩАДЬ ДОМА, М2</div>
                        <div class="range-item-input">
                            <input type="text" id="range1" value="" name="range1"/>
                        </div>
                    </div>
                    <div class="range-item">
                        <div class="range-item-title">ПЛОЩАДЬ УЧАСТКА, М2</div>
                        <div class="range-item-input">
                            <input type="text" id="range2" value="" name="range2"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog-content-box-colon2 catalog-content-box-colon lg6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d574853.0501164187!2d37.07216862444156!3d55.74947331767448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCwLCDQoNC-0YHRgdC40Y8!5e0!3m2!1sru!2sua!4v1502134212404" width="555" height="551.6" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <button class="catalog-button lg6 md10 sm12">подобрать недвижимость</button>
    </div>
</div>



