<div class="callback">
    <div class="container">
        <div class="callback-text lg9">Консультацию по услугам Вы можете получить по телефону +7 (000) 000-00-00
            или
        </div>
        <div class="callback-form">
            <label class="callback-form-label">
                <div class="callback-form-label-icon"></div>
                <div class="callback-form-label-text">заказать звонок</div>
                <div class="callback-input">
                <input type="tel" placeholder="+7 (000) 000-00-00"></div</label>
        </div>
    </div>
</div>