<div class="banner">
    <div class="container">
        <div class="banner-information">
            <div class="banner-first-block">
                <div class="banner-information-line1 lg4 md5 sm12">
                    <div class="biglogo">
                        <a href="#"><img src="img/logobig.png"></a>
                    </div>
                    <span class="banner-p-bottom">Новый Дом</span>
                </div>
                <div class="banner-information-line2 lg7 sm12">
                    <span class="banner-p-right">Самое честное агенство</span>
                    <span class="banner-p-bottom-right">Мы подберем дом Вашей мечты в кратчайщие сроки и по приемлемой
                    цене!
                </span>
                </div>
            </div>
            <div class="banner-information-line3">
                <button class="lg4 md10 sm12">ПЕРЕЙТИ К КАТАЛОГУ</button>
                <button class="lg4 md10 sm12">НАШИ УСЛУГИ</button>
            </div>
            <button class="banner-button-arrow">
            </button>
        </div>
    </div>
</div>