<section>
    <h1 class="tehnology-main-title">Технология строительства</h1>
    <div class="container">
        <div class="tehnology">
            <div class="tehnology-item"><h2 class="tehnology-item-title">Фундамент</h2>
                <div class="tehnology-item-img tehnology-item-float-left lg3"><img
                        src="../img/fundamentpic.png"></div>
                <div class="tehnology-item-text tehnology-item-float-right">
                    <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Consectetur
                        eos, magni maxime neque reiciendis vel. Aspernatur, at beatae, consequatur dolore ea eligendi
                        est
                        expedita hic minima sit tempore, totam ullam!</p>
                    <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                        autem beatae, commodi corporis debitis earum esse et in laudantium neque perspiciatis quam qui
                        quod
                        repudiandae sequi ut vero voluptatem!</p>
                    <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                        perspiciatis placeat repellendus repudiandae voluptates? Ab accusamus blanditiis eaque explicabo
                        impedit, necessitatibus neque obcaecati odio officia sapiente unde vero vitae. Sint.</p>
                </div>
            </div>
        <div class="tehnology-item"><h2 class="tehnology-item-title">Стены</h2>
            <div class="tehnology-item-img tehnology-item-float-right tehnology-item-margin-left lg3"><img
                    src="../img/wallspic.png"></div>
            <div class="tehnology-item-text tehnology-item-float-left">
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                    eos, magni maxime neque reiciendis vel. Aspernatur, at beatae, consequatur dolore ea eligendi est
                    expedita hic minima sit tempore, totam ullam!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                    autem beatae, commodi corporis debitis earum esse et in laudantium neque perspiciatis quam qui quod
                    repudiandae sequi ut vero voluptatem!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                    perspiciatis placeat repellendus repudiandae voluptates? Ab accusamus blanditiis eaque explicabo
                    impedit, necessitatibus neque obcaecati odio officia sapiente unde vero vitae. Sint.</p>
            </div>

        </div>
        <div class="tehnology-item"><h2 class="tehnology-item-title">Окна</h2>
            <div class="tehnology-item-img tehnology-item-float-left lg3"><img
                    src="../img/windowspic.png"></div>
            <div class="tehnology-item-text tehnology-item-float-right">
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                    eos, magni maxime neque reiciendis vel. Aspernatur, at beatae, consequatur dolore ea eligendi est
                    expedita hic minima sit tempore, totam ullam!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                    autem beatae, commodi corporis debitis earum esse et in laudantium neque perspiciatis quam qui quod
                    repudiandae sequi ut vero voluptatem!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                    perspiciatis placeat repellendus repudiandae voluptates? Ab accusamus blanditiis eaque explicabo
                    impedit, necessitatibus neque obcaecati odio officia sapiente unde vero vitae. Sint.</p>
            </div>
        </div>
        <div class="tehnology-item"><h2 class="tehnology-item-title">Комуникации</h2>
            <div class="tehnology-item-img tehnology-item-float-right lg3"><img
                    src="../img/housemaket.png"></div>
            <div class="tehnology-item-text tehnology-item-float-left">
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                    eos, magni maxime neque reiciendis vel. Aspernatur, at beatae, consequatur dolore ea eligendi est
                    expedita hic minima sit tempore, totam ullam!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                    autem beatae, commodi corporis debitis earum esse et in laudantium neque perspiciatis quam qui quod
                    repudiandae sequi ut vero voluptatem!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                    perspiciatis placeat repellendus repudiandae voluptates? Ab accusamus blanditiis eaque explicabo
                    impedit, necessitatibus neque obcaecati odio officia sapiente unde vero vitae. Sint.</p>
            </div>
        </div>
        <div class="tehnology-item"><h2 class="tehnology-item-title">Крыша</h2>
            <div class="tehnology-item-img tehnology-item-float-left lg3"><img
                    src="../img/roofpic.png"></div>
            <div class="tehnology-item-text tehnology-item-float-right">
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
                    eos, magni maxime neque reiciendis vel. Aspernatur, at beatae, consequatur dolore ea eligendi est
                    expedita hic minima sit tempore, totam ullam!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                    autem beatae, commodi corporis debitis earum esse et in laudantium neque perspiciatis quam qui quod
                    repudiandae sequi ut vero voluptatem!</p>
                <p class="tehnology-item-text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                    perspiciatis placeat repellendus repudiandae voluptates? Ab accusamus blanditiis eaque explicabo
                    impedit, necessitatibus neque obcaecati odio officia sapiente unde vero vitae. Sint.</p>
            </div>
        </div>
        </div>
    </div>
</section>