.tehnology-main-title {
  background-color: @base-color2;
  font-size: 48px;
  text-align: center;
  font-family: @fontName-dinreg;
  padding: 32px 0;
}

.tehnology {
  color: @color-black;
  font-family: @fontName-dinreg;
  padding: 30px 15px 0 15px;
  font-size: @font-size-button;
  margin: 0 auto;
  &-item {
    margin-bottom: 28px;
    &-title {
      font-size: 36px;
      text-align: center;
      margin-bottom: 44px;
    }
    .tehnology-item-float-left {
       float: left;
     }
    .tehnology-item-float-right {
      float: right;
    }
    &-img {

      img {
        width: 100%;
      }
      .media(@width-sm, {
        float: none;
        display: block;
        margin: 0 auto;
        width: 83.33333333%; margin-bottom: 15px;
      });
    }
    &-text {
      text-align: left;
      width: 72%;
      &-p {
        margin-bottom: 31px;
        &:last-child {
          margin-bottom: 0;
        }
        .media(@width-sm, { margin-bottom: 20;
        });
      }
      .media(@width-sm, {
        float: none;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
      text-align: justify;
      });
    }
    .clearfix;

  }
  .media(@width-sm, { padding-left: 0; padding-right: 0;
  });
  }
