<header class="header">
    <div class="header-line container">
        <div class="logo">
            <a href="#"><img src="img/logosmall.png"></a>
        </div>
        <nav class="nav-menu lg8">
            <ul>
                <li><div class="nav-menu-relative">Каталог</div></li>
                <li><div class="nav-menu-relative">Услуги</div></li>
                <li><div class="nav-menu-relative">Технология стрительства</div></li>
                <li><div class="nav-menu-relative">Контакты</div></li>
            </ul>
        </nav>
        <div class="contact-icons">
            <a href="#"><span class="icon headerphone"></span></a><a href="#"><span class="icon headermail"></span></a>
        </div>
    </div>
</header>