.header {
  background-color: @base-color;
  &-line {
    height: 73px;
    a {
      .inline;
    }
    .clearfix;
    .nav-menu-icon{
      .sprite(@menu);
      display: none;
      .media(@width-mid, {
        display: inline-block;
      margin-right: 35%;
      })
    }
    .logo {
      padding-top: 7px;
      .left;
      .media(@width-mid, {
        float: none;
      display: inline-block;
      })
    }
       .nav-menu {
      margin-left: 30px;
      font-size: 0;
      .left;
      ul {
        li {
          padding: 27px 30px 0 30px;
          height: 73px;
          box-sizing: border-box;
          .inline;
          font-size: @font-size-button;
          .nav-menu-relative{
            position: relative;
            width: inherit;
            &:before {
              content: '';
              position: absolute;
              left: -33px;
              top: 8px;
              width: 6px;
              height: 6px;
              border-radius: 6px;
              background-color: white;
            }
          }
        }
        li:last-child{
          padding-right: 0;
        }
          li:hover {
            background-color: @base-color2;
          }
        }
      .media(@width-mid, {
      display: none;
      })
      }
    .contact-icons {
      padding-top: 18px;
      .right;
      padding-right: 15px;
      .headerphone {
        margin-right: 20px;
      }
    }
  }
}