.header{
  margin-bottom: 30px;
  &-line{
    margin-bottom: 20px;
    .clearfix;
    .logo{
      .left;
      a{
        .inline;
      }
      .media(@width-sm, {
        float: none;
        text-align: center;
        margin-bottom: 15px;
      })
    }
  }
}