.header {
  background-color: @base-color;
  padding: 7px 0 10px 0;
  &-line {
    a {
      .inline;
    }
    .clearfix;
    .logo{
      margin-right: 30px;
      .left;
      //.media(@width-sm, {
      //  float: none;
      //  text-align: center;
      //  margin-bottom: 15px;
      //})
    }
    .nav-menu{
      padding-top: 19px;
      font-size: 0;
      .left;
          li{
            list-style: disc outside;
            padding-left: 30px;
            //.inline;
            font-size: @font-size-button;
          }
    }
    .contact-icons {
      .right;
    }

  }
}