@import "dev/assets/less/reset.less";
@import "includes/_settings";
@import "includes/_fonts";
@import "includes/_mixins";
@import "includes/_icons";
@import "includes/_sprite";
@import "includes/_ion.rangeSlider";
@import "includes/_ion.rangeSlider.skinHTML5";

body{
  .font;
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  margin: 0 auto;
  max-width: @width-max;
  .media(@width-mid, {
    padding: 0 2%;
  });
  .media(@width-sm, {
  padding: 0 5px;
  });
}
.row{
  margin-bottom: 20px;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
.col{
  float: left;
  box-sizing: border-box;
  padding: 0 15px;
}

.grid(lg);
.media(@width-mid, {
  .grid(md);
});
.media(@width-sm, {
  .grid(sm);
});
.left{
  float: left;
}
.right{
  float: right;
}
.clearfix{
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
@import "../../components/header/_header";
@import "../../components/banner/_banner";
@import "../../components/catalog/_catalog";
@import "../../components/ad/_ad";